<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Rent a Car</h2>
  <p>
    "Rent a Car" is a platform for searching and renting a car in different areas. The website is a delightful project
    created to project Ember.
  </p>
  {{#link-to 'index' class="button"}}
    Get Started!
  {{/link-to}}
</div>
